:root {
  --primary-color: #6366f1;
  --primary-color-light-alpha: rgba(99, 102, 241, 0.1);
  --primary-color-dark-alpha: rgba(139, 92, 246, 0.1);
  --error-color: #ef4444;
  --surface-color: #ffffff;
  --background-color: #f8fafc;
  --text-primary: #1e293b;
  --text-secondary: #64748b;
  --border-color: #e5e7eb;

  /* Tema escuro */
  @media (prefers-color-scheme: dark) {
    --surface-color: #1e293b;
    --background-color: #0f172a;
    --text-primary: #f8fafc;
    --text-secondary: #94a3b8;
    --border-color: #374151;
  }
}